{% extends "auctions/layout.html" %}

{% block body %}
{% if message %}
        <div>{{ message }}</div>
{% endif %}
{% for item in items %}
{% for i in item %}
<table> 
    <td><img src="{{ i.picture }}" alt = "user image" height="280", width="320"></td>
            <td><h3>{{ i.name }}</h3>
                <h4> Price: ${{i.price}}</h4><br><br>
                <h6>created: {{ i.listed_date }}</h6>
                <h6>Seller: {{ i.seller }}</h6>
            </td>
{% endfor %}
{% endfor %}

{% endblock %}